:root {
  /* Colors */
  --background-color: hsla(218, 100%, 13%, 1);
  --main-container: hsla(0, 4%, 98%, 0.1);
  --navbar-color: hsla(193, 78%, 84%, 0.84);
  --img-circle: hsla(189, 75%, 75%, 1);
  --textfield-color: hsla(206, 100%, 82%, 0.6);
  --input-text-color: hsla(0, 0%, 100%, 1);
  --btn-color: hsla(286, 85%, 61%, 1);

  --white: hsla(0, 21%, 94%, 1);

  /* Typography */
  --font-family: "Barlow", sans-serif;
}
body {
  background: var(--background-color);
}
nav {
  background: var(--navbar-color);
}
.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: blue;
}
.logo {
  cursor: pointer;
}
.main-container {
  margin: 1.5rem auto;
  max-width: 1410px;
  height: 650px;
  background: var(--main-container);
  border-radius: 15px;
}
